:root {
    --button-height-large: 47px;
    --button-height-normal: 39px;
    --button-height-small: 32px;
    --button-radius-large: 12px;
    --button-radius-normal: 12px;
    --button-radius-small: 3px;
    --title-font-size-large: 21px;
    --title-font-size-normal: 20px;
    --title-font-size-small: 19px;
    --button-font-size-large: 18px;
    --button-font-size-normal: 16px;
    --button-font-size-small: 14px;
    --content-font-size: 16px;
    --sub-font-size-large: 15px;
    --sub-font-size-normal: 14px;
    --sub-font-size-small: 13px;
    --text-black-color-a: rgba(0, 0, 0, .85);
    --text-black-color-b: rgba(0, 0, 0, .60);
    --text-black-color-c: rgba(0, 0, 0, .40);
    --text-black-color-d: rgba(0, 0, 0, .20);
    --text-white-color-a: rgba(255, 255, 255, 1);
    --text-white-color-b: rgba(255, 255, 255, .70);
    --layer-black-color-a: rgba(0, 0, 0, 1);
    --layer-black-color-b: rgba(0, 0, 0, .85);
    --layer-black-color-c: rgba(0, 0, 0, .70);
    --layer-black-color-d: rgba(0, 0, 0, .50);
    --layer-black-color-e: rgba(0, 0, 0, .40);
    --layer-black-color-f: rgba(0, 0, 0, .30);
    --layer-black-color-g: rgba(0, 0, 0, .20);
    --layer-black-color-h: rgba(0, 0, 0, .13);
    --layer-black-color-i: rgba(0, 0, 0, .8);
    --layer-black-color-j: rgba(0, 0, 0, .4);
    --layer-black-color-k: rgba(0, 0, 0, .2);
    --layer-white-color-a: rgba(255, 255, 255, 1);
    --layer-white-color-b: rgba(255, 255, 255, .85);
    --layer-white-color-c: rgba(255, 255, 255, .70);
    --primary-color-a: rgb(252, 94, 63, 1);
    --primary-color-b: rgb(252, 94, 63, .4);
    --primary-color-c: rgb(252, 94, 63, .1);
    --van-button-round-border-radius: 999px;
}